header{
    margin:0 auto;
    width:100%;
    background-color:beige;
}

a {
    color:blue;
       
}

a:hover {
    color:grey;
    font-size:1.4em;
}

body {
    background-image:url(images/dfcLogo.jpg);    
    background-size:100%;
    width:70%;
    padding:5px 10px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-family:cursive;
}

img:hover{
    width:5em;
    height:5em;
}